.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  color: black;
}

.feinman__link::after {
  content: " \2192";
}

.feinman__link:hover {
  text-decoration: underline;
}
