.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*===HEADER===============================================*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  flex-direction: column;
  align-self: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: " \2192";
}

.header__link:hover {
  padding-left: 10px;
  transition: padding-left .2s;
}

.header__main-illustration {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

/*===DESCRIPTION==========================================*/

.description {
  padding: 100px 0px;
}

.two-columns {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*===DIGITS===============================================*/

.digits {
  padding: 100px 0px;
}

.section-title {
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

/*===FEINMAN==============================================*/

.feinman {
  padding-top: 100px;
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feinman__title {
  margin: auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feinman__subtitle {
  width: fit-content;
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.feinman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  color: black;
}

.feinman__link::after {
  content: " \2192";
}

.feinman__link:hover {
  transform: translateX(10px);
  transition: transform .2s;
}

/*===KAUFMAN==============================================*/

.kaufman {
  padding: 90px 0px;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/*===FOOTER===============================================*/

.footer {
  background-color: #1f1f1f;
  padding: 60px 0px 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  color: white;
}

.footer__column_content_info {
  width: fit-content;
  height: fit-content;
  margin-bottom: 16px;
}

.footer__column-heading {
  margin: 0px 0px 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 0px 0px 16px;
  padding: 0px;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column_content_social {
  width: fit-content;
  height: fit-content;
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
